
.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  background-color: black;
}

.headerList {
  display: flex;
  gap: 10rem;
}

.headerListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}



.headerTitle {
  font-size: 3rem;
  margin: 2rem 0;
  font-weight: bold;
}

.orangeText {
  color: orange;
}

.redText {
  color: red;
}

.headerDesc {
  font-size: 1.2rem;
}

.unlockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.unlock {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.headerSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.headerSearchInput {
  flex: 1;
  padding-right: 1rem;
}

.searchInput {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.headerSearchItem {
  flex: 0.5;
}

.headerBtnSearch {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #ffa500;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 1080px){
  .headerTitle{
  font-size: 1.5rem;

  }
  .headerList {
    gap: 2rem;
  }
}
