.footer{
  width: 100%;
  font-size: 12px;
  margin-top: 3rem;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}

@media screen and (max-width: 600px){

  .fLists{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  .fList{
   text-align: center;}
  
}